NEXT_PUBLIC_SUPABASE_URL=https://lrpgockfpvxogjrrgvpv.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxycGdvY2tmcHZ4b2dqcnJndnB2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODEwMTc2OTMsImV4cCI6MjA5NjU5MzY5M30.Zd4ikS3ABrSxFF6OFAapcIYjz3GVcl2K_fE-kGCQHbg